.text-orange {
  color: #FF9500;
}

.br-15 {
  border-radius: 15px;
}

.br-50 {
  border-radius: 50px;
}

.card-dark {
  background-color: #041827;
}

.text-green {
  color: green;
}

.gary {
  color: rgb(166, 166, 166) !important;
}

.btn-white-50 {
  background-color: rgba(179, 179, 179, 0.1);
  color: white;
  padding: 10px;
}
.btn-white-50:hover {
  background-color: rgba(194, 194, 194, 0.1);
  color: white;
}

.fs-12 {
  font-size: 12px;
}

.wallet-title {
  position: relative;
}
.wallet-title a {
  position: absolute;
  right: 0;
}

.hold-bg-1 {
  background-color: #000;
}

.hold-bg-2 {
  background-color: #3BA151;
}

.hold-bg-3 {
  background-color: #FF9500;
}

.hold-bg-4 {
  background-color: #E91E1E;
}

.hold-bg-5 {
  background-color: #3A37E4;
}

.hold-bg-6 {
  background-color: #E91E5F;
}

.hold-bg-7 {
  background-color: #EB14DD;
}

.hold-bg-8 {
  background-color: #1E83E9;
}

.border-rounded {
  border-radius: 50px;
  /* padding: 12px; */
}

.btn-log {
  border-radius: 50px;
  padding: 10px;
  color: white;
  border: none;
  width: 60%;
  background-color: #FF9500;
}

.btn-stroke {
  border-radius: 50px;
  padding: 10px;
  color: #FF9500;
  border: 1.5px solid #FF9500;
  width: 60%;
  background-color: transparent;
}
.btn-stroke:hover {
  color: #FF9500;
  border: 1.5px solid #FF9500;
}

.btn-log:hover {
  background-color: #ff9b0f;
  border: none;
  color: white;
}

#wallet-card .account-title {
  justify-content: center;
  background-color: rgba(194, 194, 194, 0.1);
  padding: 5px;
  width: 170px;
  border-radius: 50px;
  position: relative;
  left: calc(50% - 85px);
  scale: 0.8;
}
#wallet-card .account-title img {
  width: 20px;
}
#wallet-card .account-title span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
#wallet-card .balance-hold {
  font-size: 25px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

#last-transaction .transaction-title {
  position: relative;
}
#last-transaction .transaction-title a {
  position: absolute;
  right: 0;
}
#last-transaction .transaction-hold {
  position: relative;
}
#last-transaction .transaction-hold #left #purchase-date {
  font-size: 12px;
}
#last-transaction .transaction-hold #right {
  font-size: 13px;
  position: absolute;
  text-align: right;
  right: 0;
}

#card-info {
  position: relative;
}
#card-info .icon-hold {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-info .text-hold span {
  font-size: 17px;
}
#card-info a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
  color: #FF9500;
}

#ref-card {
  position: relative;
}
#ref-card .ref-link {
  background-color: #FFF8ED;
  border-radius: 5px;
  width: 95%;
  color: #FF9500;
  font-size: 12px;
}
#ref-card .copy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF9500;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
}

.site-holder .img-hold {
  position: relative;
  width: 100%;
  height: 200px;
}
.site-holder .img-hold img {
  width: 100%;
  height: 100%;
}

.up-card {
  position: relative;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.img-display {
  width: 100%;
  height: 400px;
  position: relative;
}
.img-display img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.img-preview-grid-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.check-info {
  border-left: 5px solid rgb(0, 173, 55);
  border-radius: 10px;
}
.check-info .d-flex svg {
  width: 18px;
  height: 18px;
}
.check-info .d-flex span {
  font-size: 13px;
}

.sum-box {
  position: relative;
}
.sum-box #website-price {
  position: absolute;
  right: 20px;
}

.price-summary .d-flex {
  position: relative;
}
.price-summary .d-flex .right {
  position: absolute;
  right: 20px;
  text-align: right;
}

.summary-details {
  position: relative;
  font-size: 13px;
}
.summary-details .right {
  position: absolute;
  right: 20px;
}

.save-btn {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.save-btn #save-address {
  width: 200px;
  position: absolute;
  right: 0;
}

.payment-method-item {
  border: 1.5px solid rgb(219, 219, 219);
  position: relative;
  transition: 0.3s;
  border-radius: 15px;
}
.payment-method-item:hover {
  border: 2px solid #FF9500;
}
.payment-method-item img {
  position: absolute;
  right: 20px;
}

@media screen and (max-width: 800px) {
  .clus {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */