.text-orange{
    color: #FF9500;
}

.br-15{
    border-radius: 15px;
}

.br-50{
    border-radius: 50px;
}

.card-dark{
    background-color:#041827;
}

.text-green{
    color: green;
}

.gary{
    color: rgb(166, 166, 166) !important;
}

.btn-white-50{
    background-color:rgba(179, 179, 179, 0.1);
    color: white;
    padding: 10px;
    
    &:hover{
        background-color:rgba(194, 194, 194, 0.1);
        color: white;
    }
}

.fs-12{
    font-size: 12px;
}


.wallet-title{
        
    position: relative;

    a{
        position:absolute;
        right: 0;
    }
}

.hold-bg-1{
    background-color: #000;
}

.hold-bg-2{
    background-color: #3BA151;
}

.hold-bg-3{
    background-color: #FF9500;
}

.hold-bg-4{
    background-color: #E91E1E;
}

.hold-bg-5{
    background-color: #3A37E4;
}

.hold-bg-6{
    background-color: #E91E5F;
}

.hold-bg-7{
    background-color: #EB14DD;
}

.hold-bg-8{
    background-color: #1E83E9;
}


.border-rounded{
    border-radius: 50px;
    /* padding: 12px; */
}
.btn-log{
    border-radius: 50px;
    padding: 10px;
    color: white;
    border: none;
    width: 60%;
    background-color:#FF9500 ;
}

.btn-stroke{
    border-radius: 50px;
    padding: 10px;
    color: #FF9500;
    border: 1.5px solid #FF9500;
    width: 60%;
    background-color:transparent;

    &:hover{
        color: #FF9500;
        border: 1.5px solid #FF9500;
    }
}

.btn-log:hover{
background-color: #ff9b0f;
border: none;
color: white;
}






#wallet-card{
    .account-title{
        justify-content: center;
        background-color:rgba(194, 194, 194, 0.1);
        padding: 5px;
        width:170px;
        border-radius: 50px;
        position:relative;
        left:calc(50% - 85px);
        scale: 0.8;
        img{
            width: 20px;
        }
        span{
            margin-left: 10px;
            color: rgba(255, 255, 255,0.5);
            text-transform: uppercase;
        }
    }
    
  
    .balance-hold{
        font-size: 25px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
    }

    
}

#last-transaction{
    .transaction-title{
        position: relative;

        a{
            position: absolute;
            right: 0;
        }
    }

    .transaction-hold{
        position: relative;
        #left{
            #purchase-date{
                font-size: 12px;
            }
        }

        #right{
            font-size: 13px;
            position: absolute;
            text-align: right;
            right: 0;
        }
    }
}

#card-info{
    position: relative;

    .icon-hold{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        // color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-hold{
        span{
            font-size: 17px;
        }
    }
    a{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 13px;
        color: #FF9500;
    }
}

#ref-card{
    position: relative;
    .ref-link{
        background-color: #FFF8ED;
        border-radius: 5px;
        width: 95%;
        color: #FF9500;
        font-size: 12px;
    }

    .copy-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF9500;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        position: absolute;
        right: 0px;
    }
}
  
.site-holder{
    .img-hold{
        position: relative;
        width: 100%;
        height: 200px;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

.up-card{
    position: relative;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.img-display{
width: 100%;
height: 400px;
position: relative;

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
}


.img-preview-grid-2{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}

.check-info{
    border-left: 5px solid rgb(0, 173, 55);
    border-radius: 10px;

    .d-flex{
        svg{
            width: 18px;
            height: 18px;
        }

        span{
            font-size: 13px;
        }
    }
}

.sum-box{
    position: relative;
#website-price{
    position: absolute;
    right: 20px;
}
}

.price-summary{
    .d-flex{
        position: relative;

        .right{
            position: absolute;
            right: 20px;
            text-align: right;
        }
    }
}

.summary-details{
    position: relative;
    font-size: 13px;
    .right{
        position: absolute;
        right: 20px;
    }
}

.save-btn{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    #save-address{
        width: 200px;
        position: absolute;
        right: 0;
    }
}

.payment-method-item{
    border: 1.5px solid rgb(219, 219, 219);
    position: relative;
    transition: 0.3s;
    border-radius: 15px;

    &:hover{
        border: 2px solid #FF9500;
    }
    img{
        position: absolute;
        right: 20px;
    }
}

#current-bal{
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(219, 219, 219);
}

.lottie{
    position: relative;
    display: flex;
    justify-content: center;
}

.card-payment-holder{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card{
        width: 50%;
    }
}

.crypto-details{
    position: relative;
    width: 50%;
    left: calc(50% - 25%);
    margin-top: 40px;
}

.crypto-select{
    position: relative;
    width: 50%;
    height: 80vh;
    left: calc(50% - 25%);
    top: calc(50% - 40vh);
    overflow-y: scroll;

    &::-webkit-scrollbar{
        display: none;
    }

    .card-header{
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 10;
    }

    .card-body{
        margin-bottom: 50px;

        a{

      
        .crypto-item{
            position: relative;

     .actual{
        align-items: center;
       .coin-na{
        margin-left:10px;
        .coin-price, .coin-reading{
            font-size: 13px;
        }
    }
       }

       .price-to-pay{
        position: absolute;
        right: 10px;
        text-align: right;
       }
    }
     }
    }
}

.crypto-network{
    position: relative;
    width: 50%;
    height: 80vh;
    left: calc(50% - 25%);
    top: calc(50% - 40vh);
    // overflow-y: scroll;

    .network-hold{
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        position: relative;
        align-items: center;
        .hold-logo{
            align-items: center;
        }

        .actual-network{
            position: absolute;
            right: 20px;
            text-align: right;
        }
    }

    
}

.crypto-payment-page{
    position: relative;
    width: 50%;
    left: calc(50% - 25%);
}


@media screen and (max-width:800px){

    .crypto-network{
        width: 100%;
        left: calc(50% - 50%);
        margin-top: 20px;
    }

    .crypto-select{
        width: 100%;
        left: calc(50% - 50%);
        height: 90vh;
    }

    .crypto-details{
        width: 100%;
        left: calc(50% - 50%);
        margin-top: 20px;
    }

    .clus{
      font-size: 10px;

       }

       .card-payment-holder{
        
        .card{
            width: 100%;
        }
       }
}


